@model PWA_trabalho_2b.ViewModels.Categoria.CategoriaViewModel

@{
    ViewData["Title"] = "Cadastro";
}

<div class="container">
    @*@if (Model.MensagemErro != null)
        {
            <div class="alert alert-danger" role="alert">
                @Model.MensagemErro
            </div>
        }*@

    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-primary" asp-controller="Categoria" asp-action="Index">Voltar</a>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col">
            <div class="card">
                <p class="card-header">Cadastro de Categoria</p>
                <div class="card-body">
                    <form method="post" asp-controller="Categoria" asp-action="Create">

                        <div class="form-group">
                            <label for="descricao">Descricao</label>
                            <input class="form-control" type="text" name="descricao" id="descricao" />
                        </div>

                        <div class="form-group">
                            <label for="categoriaPai">Categoria Pai</label>
                            <select class="custom-select custom-select" id="categoriaPaiId" name="categoriaPaiId" asp-items="@Model.CategoriasPai"></select>
                        </div>

                        <input class="btn btn-primary" type="submit" value="Cadastrar" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>